h1 {
  letter-spacing: 5px;
  font-weight: 600;
  margin-top: 0;
}

.tasks_container {
  padding: 40px;
  background-color: #f5f5f5;
  width: 70%;
}

.heading_container {
  display: flex;
  justify-content: space-between;
}

.toggle {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
  margin-right: 13px;
  // border: solid 1px #524942;
  // border-radius: 20px;
  :hover {
    color: #524942;
    // background-color: darken($button-background, 10%);
    // transform: scale(1.8);
  }
}
