.form {
  display: grid;
  // justify-content: flex-start;
  grid-template-columns: 1.5fr 1fr auto auto;

  // align-items: flex-start;

  &_description {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  // &_taskdesc {
  //   display: flex;
  //   flex-direction: column;
  //   border: solid 2px red;
  // }

  &_duedate {
    display: flex;
    // justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    gap: 3px;
  }
}

.text_error_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  // border: solid 2px rgb(240, 7, 7);
}

.error {
  color: rgb(209, 77, 77);
  font-weight: 500;
}

#category {
  width: 50px;
}

.add_btn {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
  margin-right: 13px;
  :hover {
    color: #524942;
    // background-color: darken($button-background, 10%);
    // transform: scale(1.8);
  }
}

.icons {
  font-size: 1.5rem;
  margin-left: 8px;
}
