.active {
  display: grid;
  grid-template-columns: 1fr 30px 20px;
  align-items: center;
  padding: 8px 12px;
  background-color: #c9c9c9;
}

.inactive {
  display: grid;
  grid-template-columns: 1fr 30px 20px;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}

.inactive:hover {
  background-color: #c9c9c9;
}
