.sidebarItem {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 30px 20px;
  align-items: center;
  padding: 8px 12px;
  border: solid 2px red;
}
